*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    /* src: url("../Font/Insanibc.ttf"); */
    src: url("../Font/Flame-Bold.ttf");

}

@font-face {
    font-family: myfont2;
    src: url("../Font/Insanibc.ttf");
    /* src: url("../Font/Flame-Bold.ttf"); */

}

body {
    font-family: myfont;
    background: linear-gradient(rgba(48, 1, 1, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1603064752734-4c48eff53d05?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 400ms linear;
}
  
.navbar.scrolled {
    background-color: rgb(22, 22, 22) !important;
    transition: background-color 400ms linear;
}

.carousel{
    background: #202020;
    filter: drop-shadow(3px 9px 18px #000000);
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    /* filter: brightness(0.6); */
}

.container {
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
}

.card-default {
    background: rgba(95, 95, 95, 0.5);
    backdrop-filter: blur(3px);
    transition: transform 0.3s ease-in-out; /* Adjust timing as needed */
    position: relative; /* Added position:relative */
}

.card-default:hover {
    transform: scale(1.1); /* Adjust scale as needed */
    transition: transform 0.3s ease-in-out; /* Adjust timing as needed */
    z-index: 2;
    box-shadow: 0 0 20px 0 rgba(211, 16, 16, 0.2);
    cursor: pointer;
}

.card img {
    max-width: 100%;
    height: auto;
}

.form-order {
    font-family: myfont2;
}

input[type='number'].no-spinners::-webkit-inner-spin-button, 
input[type='number'].no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'].no-spinners {
    -moz-appearance: textfield;
}

.c-form {
    width: 600px; /* Adjust this value to your needs */
}

.value-font {
    font-family: myfont2;
}